body {
  background-color: #284B63;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 2vh;
  padding-right: 2vh;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  background-color: #F4F9E9
}

#home-button {
  padding-left: 2vw;
  padding-right: 2vw;

  color: black;
  text-decoration: none;

  border-radius: 20px;
  background-color: rgba(230, 222, 222, 0.654);
}

#home-button:hover {
  background-color: #83A0B4;
}

main {
  background-color: #F4F9E9;

  padding-bottom: 3vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#article-filter {
  display: flex;
  justify-content: space-evenly;
}

#article-filter h3 {
  margin-top: 0.3vh;
  margin-bottom: 0.8vh;
}

.dropdown-container {
  padding-bottom: 0.8vh;
}

#sort-dropdown-container {
  display: flex;
}

#article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-card {
  padding: 10px;
  border-radius: 20px;

  background-color: #83A0B4;

  text-align: center;

  margin-top: 0;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vw;
}

.article-card-header {
  text-align: center;
}

.disabled-link {
  pointer-events: none;
  color: black;
  text-decoration: none;
}

.disabled-button {
  background-color: azure;
}

.article-card img {
  height: 40vh;

  max-width: 95%;
}

.article-info {
  display: flex;
  justify-content: space-evenly;
}

#pagination {
  display: flex;
  justify-content: space-evenly;

  font-size: 1.5em;

  margin-left: 30vw;
  margin-right: 30vw;
}

.clickable-page {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

#comment-form-container {
  text-align: center;
  padding-bottom: 0.8vh;
}

#comment-body-input {
  height: 20vh;
  width: 60vw;

  text-align: left;
}

.comment-card {
  border: solid 1px blue;
  background-color: #83A0B4;

  padding: 10px;
  padding-top: 0.5vh;
  border-radius: 20px;

  margin-top: 0;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 8vw;
}

.delete-button {
  display: flex;
  justify-content: left;
}

.comment-body {
  text-align: center;
}

.votes-container {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
}

.vote-button-container {
  padding-right: 0.8vw;
}

.comment-footer {
  display: flex;
  justify-content: space-evenly;
}